/* FONTS GOOGLE -----------*/
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');                                            
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html{
    
    width: 100%;
    height: 100%;
}

body{
    
    background-color: rgb(34, 34, 34);



}

header{
    
}

.foto{
    
}

.foto img{
    
    background-color: #ddd;
    border-radius: 500%;
    height: 150px;
    width: 150px;
    border:5px solid #FFD700;
    margin: auto;
    display: flex;
}

h1{
    color: #fff;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 150%;



}

h2{
   color: #fff;
    font-family: 'Poiret One', cursive;
    text-align: center;

}

nav{
    
}

footer{
    
    text-align: center;
    color: #fff;
    position: relative; 
    max-width: 800px;
    margin: 0 auto;
    
}


.fab{
    color: #fff; 
    font-size: 1.4rem;
}


.copyright{
    color:#fff; 
    font-family: 'Poiret One', cursive;
    
}

