

html{
    
    background-color: rgb(34, 34, 34);
    font-family: 'Major Mono Display', monospace;
    font-style: normal;
    font-weight: 300;
    
}

body{
    
}

header{
    margin-bottom: auto;
}


.foto{
    
    background-color: #ddd;
    border-radius: 500%;
    height: 100px;
    width: 100px;
    border:5px solid #FFD700;
    margin: 8px auto;
    display: flex;
    
    
    
}

h1{
    color: snow;
    font-size: 150%;
    font-family: 'Major Mono Display', monospace;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.container{
    color: snow;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 100%;
    font-family: 'Major Mono Display', monospace;
    font-style: normal;
    font-weight: 300;
    
}

.container > coluna1{
    width: 50%;
    
    
    
        
}
    

.cotainer > coluna2{
    width: 50%;
    
    
    
    
    
}



footer{
    
    color: snow;
    position: relative;
    margin-top: 10vw;
    text-align: center;
    
}

.fab{ 
    color: snow;
    font-size: 2.0rem;
    margin: 4px;
}

.copyright{ 
    font-size: 1.0rem;
    margin: 4px;
    text-align: center;
    
    
    
    
}
