/* FONTS GOOGLE-----*/
/* --- */


html{
    
    background-color: rgb(34, 34, 34);
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    
}

body{
    margin: auto;
}

header{
    
}


.foto{
    
    background-color: #ddd;
    border-radius: 500%;
    height: 100px;
    width: 100px;
    border:5px solid #FFD700;
    margin: 8px auto;
    display: flex;
    
    
    
}

h1,h2,h3{
    color: snow;
    font-size: 150%;
    font-family: "europa",sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;


}

footer{
    
    color: snow;
    position: relative;
    top: 16rem ;

    
}

.fab{ 
    color: snow;
    font-size: 2.0rem;
    margin: 4px;
}

.copyright{ 
    font-size: 1.0rem;
    margin: 4px;
    
}
