    body{
        background-color: chocolate;

    }


    #minhaFoto{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        text-align: center;
    }  


    h1{
        color: aquamarine;
        font-family: 'Indie Flower', cursive;
        /*font-family: 'VT323', monospace,*/
        
    }