    @import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');


        body{
            background-color: rgb(34, 34, 34);


        }

        .minhaFoto{
              border-radius: 50%;
              width:150px;
              height: 150px;
              overflow: hidden;
              border:3px solid #FFD700;
              position: relative;
              display: flex;
              margin: auto;




        }  

        .minhaFoto img{
            margin: auto;
            width: 100%;
            



        }

        h1{
            color: #fff;
            font-family: 'Major Mono Display', monospace;
            text-align: center;




        }

        h2{
            color: #fff;
            font-family: 'Major Mono Display', monospace;
            text-align: center;

        }
