@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');                                            
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body{
    background-color: rgb(34, 34, 34);



}

.foto{


}

.foto img{
  background-color: #ddd;
  border-radius: 500%;
  height: 150px;
  width: 150px;
  border:5px solid #FFD700;
  margin: auto;
  display: flex;
}


h1{
color: #fff;
font-family: 'Major Mono Display', monospace;
text-align: center;




}

h2{
color: #fff;
font-family: 'Poiret One', cursive;
text-align: center;

}
