    body{
        background-color: #2F4F4F;
        

    }
    
    .minhaFoto{
          border-radius: 50%;
          width:150px;
          height: 150px;
          overflow: hidden;
          border:3px solid #FFD700;
          position: relative;
          display: flex;
          margin: auto;
           
          
          
          
    }  
    
    .minhaFoto img{
          margin: auto;
          width: 100%;
          
          
          
          
        
    }

    h1{
        color: #FFD700;
        font-family: 'Indie Flower', cursive;
        text-align: center;
           
        
        
    }