/* FONTS GOOGLE -----------*/
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');                                            
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

header, body, footer{
    /*border: 1px solid grey;
    margin: 4px;
    padding: 4px;*/
}

html{
    
    width: 100%;
    height: 100%;
}

body{
    
    background-color: rgb(34, 34, 34);



}

header{
    
}

.foto{  
    
}

.foto img{
    
    background-color: #ddd;
    border-radius: 500%;
    height: 100px;
    width: 100px;
    border:5px solid #FFD700;
    margin: auto;
    display: flex;
    
    
    
}

h1{
    color: #fff;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 150%;



}

h2{
   color: #fff;
    font-family: 'Poiret One', cursive;
    text-align: center;

}

nav{
    
}

footer{
    
    text-align: center;
    color: #fff;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    top: 20rem ;
    
}

.fab{
    color: #fff; 
    font-size: 1.4rem;
    margin: 4px;
}

.copyright{
    color:#fff; 
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    margin: 4px;
    
}
